/* 疑似セレクタとは「疑似クラス」と「疑似要素」の総称で、セレクタの後ろに記述することにより効果を発揮します。 */


/* 疑似クラスについて
疑似クラスとは、「特定のスタイルの、子セレクタのみにスタイルを適用したい」場合に利用されます。

例えば、「覚えておきたいCSSの一覧」の、「リンク色の変更と装飾」で学習した「a:link」「a:visited」「a:hover」「a:active」なども、疑似クラスに分類されます。 */


/* 疑似要素
疑似要素は、例えば「このテキストの1行目にだけ、スタイルを適用したい」といった、より狭い範囲にスタイルを適用する場合に利用されます。

主な疑似要素として、「:first-line」や「:first-letter」「:before、:after」などがあります。 */

.firstchild>p:first-child {
    /* :first-childとは疑似クラスの1つで、「特定の要素の中に初めて出てくる要素や子要素」にスタイルを適用させることができます。 */
    /* <li>や<span>でも、「特定の要素の中に初めて出てくる要素や子要素」であればスタイルが適用されます。 */
    color: #F00;
}

.firstline>p:first-line {
    /* :first-lineは疑似要素の1つで、「要素の最初の1行目」にスタイルを適用させることができます。 */
    /* :first-lineを使えば、1行目の文字だけ大きくしたり、色を変えたりといった表現が可能です。他のスタイルと組み合わせることにより、様々な表現が可能となります。 */
    color: #0000ff;
}

.firstletter>p:first-letter {
    /* :first-letterとは疑似要素の1つで、「要素の最初の1文字」にのみスタイルを適用することができます。 */
    /* よく新聞や雑誌などで最初の1文字が大きく表示されていたりしますが、簡単にあのような表現が可能となります。 */
    color: #0F0;
    font-size: 30px;
}

.sento>p:before {
    /* :beforeと:afterは疑似セレクタ要素の1つで、「要素の先頭もしくは後ろに、画像や文字を表示」することができます。 */
    /* 例えば、<p>に:beforeを使用すると、すべての<p>の先頭に任意の文字列や画像などを表示させることができます。
       :afterを使えば、後ろに表示できます。 */
    /* なお、追加する文字列などはcontentプロパティで指定することができます。 */
    /* :beforeと:afterをうまく使えば、ページ内の任意の要素に一括で画像や文字を表示させることも可能です。 */
    content: "さきちん絵はがきについて";
    color: blueviolet;
    /*太文字*/
    font-weight: bold;
}